/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
  color-scheme: light dark; 

	--color-text:#111;
  --color-text-white: white;
	--color-background:#ffffff;
  --color-highlight: #9C1AFF;
  --color-borderbottom: rgb(212, 212, 212);
  --color-footertext: #323232;

  --color-background-dark: #111;
  --color-text-dark:white;
  --color-borderbottom-dark: white;
  --color-footertext-dark: rgb(208, 208, 208);
}


/* Base styles */
html {
  color: var(--color-text);
  background-color: var(--color-background);
  border: var(--color-borderbottom);
} 

footer p{
  color: var(--color-footertext);
}

main section:nth-of-type(7) summary p{
  color: var(--color-text);
}

main section:nth-of-type(7) a{
  color: var(--color-text);
}

/* value light */
html:has([value="light"]:checked) {
  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-background);
  border: var(--color-borderbottom);
}

html:has([value="light"]:checked) .hamburgerMenu p,
html:has([value="light"]:checked) .hamburgerMenu a {
  color: var(--color-text);
}

/* value dark */
html:has([value="dark"]:checked) {
  color-scheme: dark;
  color: var(--color-text-dark);
  background-color: var(--color-background-dark);
  border: var(--color-borderbottom-dark);
}

html:has([value="dark"]:checked) main section:nth-of-type(7) summary p,
html:has([value="dark"]:checked) main section:nth-of-type(7) a,
html:has([value="dark"]:checked) footer p  {
  color: var(--color-footertext-dark);  
}

html:has([value="dark"]:checked) header nav ul:first-of-type img,
html:has([value="dark"]:checked) #sluitHamburger,
html:has([value="dark"]:checked) main section:nth-of-type(7) summary:after,
html:has([value="dark"]:checked) .pagina2 main > ul:nth-of-type(2) img, 
html:has([value="dark"]:checked) .pagina2 > main > ul:nth-of-type(3) p,
html:has([value="dark"]:checked) .pagina2 ul:nth-of-type(3) .geselecteerd {
  filter: invert(100%);
}

html:has([value="dark"]:checked) section:nth-of-type(4) p,
html:has([value="dark"]:checked) section:nth-of-type(4) h2,
html:has([value="dark"]:checked) .hamburgerMenu a,
html:has([value="dark"]:checked) section:nth-of-type(2) .bekijkAlles,
html:has([value="dark"]:checked) section:nth-of-type(5) p,
html:has([value="dark"]:checked) section:nth-of-type(5) h3,
html:has([value="dark"]:checked) section:nth-of-type(2) p,
html:has([value="dark"]:checked) main nav li p,
html:has([value="dark"]:checked) .pagina2 main > a:first-of-type {
    color: var(--color-text-dark);
}

html:has([value="dark"]:checked) .hamburgerMenu,
html:has([value="dark"]:checked) .hamburgerMenu li:nth-of-type(1) {
  background-color: var(--color-background-dark);
}

html:has([value="dark"]:checked) .pagina2 #inWinkelmand {
  background-color: var(--color-background-dark);
}

html:has([value="dark"]:checked) .pagina2 #inWinkelmand ul {
  border: var(--color-borderbottom); 
  background-color: var(--color-background);
  color: var(--color-text);
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
  margin: 0;
  padding: 0;
}

/*fonts*/

@font-face {
	font-family: "HurmeHEMA-Regular";
	src: url("../fonts/HurmeHEMA-Regular.woff2") format(woff2); 
}

@font-face {
  font-family: "HurmeHEMA-Bold";
  src: url("../fonts/HurmeHEMA-Bold.woff2") format(woff2);
}

@font-face {
  font-family: "HurmeHEMA-SemiBold";
  src: url("../fonts/HurmeHEMA-SemiBold.woff2") format(woff2);
}

/*algemene styling*/

p {
	font-family: "HurmeHEMA-Regular";
  text-decoration: none;
}

h1 {  /*Code van David de studentenassistent om h1 onzichtbaar te maken*/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h2 {
  font-family: "HurmeHEMA-Bold";
}

h3 {
  font-family: "HurmeHEMA-Bold";
}

h4 {
  font-family: "HuremaHEMA-Bold";
}

li {
  list-style: none;
}

/*header*/

header {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.hemaLogo {
  width: 3em;
}

/*nav header*/

header nav ul {
  display: flex;
  flex-direction: row;
  position: absolute; 
  right: 1em;
  top: 0.5em;
}

header nav li {
  width: 2em;
  margin: 0.75em;
  position: relative;
}

header input {
  width: 90vw;
  padding: 1em;
  margin-top: 1em;
  border-radius: 2em;
  border: none;
  background-color: #EFEFEF;
  color: #767676;
  background-image: url('../images/search.svg');
  background-position: 55px;
  background-repeat: no-repeat;
  font-family: "HurmeHEMA-Regular";
}

/*header hamburgermenu*/

header .hamburgerMenu {
  padding:1em;
  display:grid;
  align-content:start;
  background-color: var(--color-background);
  position: fixed;
  left: 0%;
  right: 0%;
  top: -3%;
  bottom: 0%;
  z-index: 3; /*zet de hamburgermenu voor de rest*/
  overflow: scroll; /*laat de hamburger menu scrollen*/
  transition: .3s;
  transform: translate(100%,0); 
  visibility: hidden;
}

#toonMenu {
  transform: translate(0, 0);
  visibility: visible;
}

header .hamburgerMenu input {
  width: 12em;
  margin-bottom: 1em;
}

header .hamburgerMenu li:nth-of-type(1) {
  gap: 2.75em;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  position: sticky; /*laat de eerste header bovenaan plakken als je naar benede scrollt*/
  background-color: var(--color-background);
  z-index: 10;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  margin-left: -1em;
  margin-top: -1em;
  padding: 1em;
  margin-right: -1em;
  border-bottom: none;
}

#sluitHamburger {
  width: 30px;
}

header .hamburgerMenu li {
  border-bottom: 0.5px solid var(--color-borderbottom);
  padding-bottom: 1em;
  padding-top: 1em;
  width: 95%;
  margin: 0em; /*Margin van de li buiten de hamburgermenu uitschakelen*/
}

header .hamburgerMenu a {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

header .hamburgerMenu a img {
  border-radius: 50em;
  width: 3.5em;
  height: 3.5em;
}

header .hamburgerMenu a p{
  margin-left: 1em; 
}

header .hamburgerMenu[aria-hidden="true"] {
  visibility: hidden;
}

header .hamburgerMenu[aria-hidden="false"] {
  visibility: visible;
}

/*dark-light-auto mode*/

header .hamburgerMenu li:nth-of-type(2){
  font-family: "HurmeHEMA-Regular";
}

/*main*/

/*nav main*/

main nav li img {
  border-radius: 50%;
  width: 25vw;
  text-align: center;
}

main nav ul{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 1em;
  margin-top: 1em;
  scrollbar-width: none;
}

main nav li {
  text-align: center;
}

main nav a{
  
  text-decoration: none;
  color: #111;
  margin-left: 1em;
  margin-right: 1em;
  margin-right: 0.5em;
}

main nav ul p {
  font-size: 0.85em;
  margin-top: 0.5em;
  font-family: "HurmeHEMA-SemiBold" ;
  margin-left: 0.30em;
}

/*main section 1*/

.relative {
  position: relative;
}

.korting {
  position: absolute;
  width: 5em;
  top: 1em;
  left: 1em;
}

.hoofdaanbieding {
  width: 100vw;
  margin-bottom: 11em;
}

main section:first-of-type article{
  position: absolute;
  background-color: #499bc1;
  color: var(--color-text-white);
  top: 17.5em;
  left: 0.75em;
  right: 0.75em;
  border-radius: 0.75em;
}

main section:first-of-type article h2{
  margin-top: 1em;
  text-align: center;
  margin-bottom: 0.75em;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--color-text-white);
}

main section:first-of-type article p{
  text-align: center;
  margin-bottom: 2em;
  padding: 1em;
  color: var(--color-text-white);
  border: 2px solid;
  border-color: var(--color-background);
  border-radius: 0.5em;
  margin: 1.5em;
}

main section:first-of-type article a{
  text-decoration: none;
}

/*main section 2*/

main section:nth-of-type(2) {
  padding-left: 1em;
  margin-top: 2em;
  position: relative;
}

main section:nth-of-type(2) .bekijkAlles {
  position: absolute;
  text-decoration: underline;
  color: var(--color-text);
  right: 1em;
  top: 0.5em;
}

main section:nth-of-type(2) li img {
  width: 65vw;
  border-radius: 5%;
}

main section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  scrollbar-width: none;
}

main section:nth-of-type(2) a{
  color: #111;
  margin-right: 0.5em;
  text-align: left;
  text-decoration: none;
}

main section:nth-of-type(2) li a p{
  text-align: left;
  margin-left: 0;
  margin-top: 0.5em;
}

main section:nth-of-type(2) li{
  margin-right: 0.75em;
}


/*main section 3*/

main section:nth-of-type(3) {
  margin-left: 1em;
}

main section:nth-of-type(3) li img {
  width: 80vw;
  display: block;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

main section:nth-of-type(3) li {
  margin-right: 1em;
}

main section:nth-of-type(3) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  scrollbar-width: none;
}

main section:nth-of-type(3) a{
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: left;
}

main section:nth-of-type(3) li h3 {
  font-size: 1.5em ;
  margin-bottom: 0.65em;
}

main section:nth-of-type(3) li .infoSection3 img {
  filter: invert(100%);
  display: flex;
  width: 2.5em;
  bottom: 1em;
  position: absolute;
}

main section:nth-of-type(3) li .infoSection3 {
  height: 20em;
  position: relative;
  padding: 1em;
  color: var(--color-text-white);
  padding-top: 1em;
  margin-left: 0.50em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-left: 0;
}

main section:nth-of-type(3) li:first-of-type .infoSection3 {
  background-color: rgb(214, 0, 214);
}

main section:nth-of-type(3) li:nth-of-type(2) .infoSection3 {
  background-color: rgb(6, 165, 1);
}

main section:nth-of-type(3) li:nth-of-type(3) .infoSection3 {
  background-color: rgb(25, 74, 199);
}

/*main section 4*/

main section:nth-of-type(4) {
  margin-left: 1em;
}

main section:nth-of-type(4) li img {
  width: 50vw;
  border-radius: 5%;
}

main section:nth-of-type(4) li {
  height: 25em;
  margin-right: 1em;
  position: relative;
}

main section:nth-of-type(4) li .winkelmandjeGeel {
  width: 4em;
  bottom: 1em;
  right: 0em;
  position: absolute;
}

main section:nth-of-type(4) li h2 {
  width: 4em;
  bottom: 1em;
  left: 0.2em;
  position: absolute;
  font-size: 2.75em;
  bottom: 0.25em;
}

main section:nth-of-type(4) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  scrollbar-width: none;
}

main section:nth-of-type(4) a{
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: left;
}

main section:nth-of-type(4) li a h2 span {
  font-size: 0.5em;
  position: absolute;
  top: 0.2em;
  left: 2.2em;
}

/*main section 5*/

main section:nth-of-type(5) {
  margin-left: 1em;
}

main section:nth-of-type(5) li img {
  width: 65vw;
  border-radius: 5%;
}

main section:nth-of-type(5) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  scrollbar-width: none;
}

main section:nth-of-type(5) a{
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

main section:nth-of-type(5) a p{
  text-align: left;
  margin-left: 0.80em;
  font-size: 1em;
}

main section:nth-of-type(5) a h3{
  text-align: left;
  margin-left: 0.80em;
  font-size: 1em;
  margin-top: 0.75em;
}


main section:nth-of-type(5) li:first-of-type img{
  background-color: pink;
}

main section:nth-of-type(5) li:nth-of-type(2) img{
  background-color: rgb(103, 206, 225);
}


/*main section 6*/

main section:nth-of-type(6) h2{
  color: var(--color-text-white);
  margin-left: 2em;
  text-align: center;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

main section:nth-of-type(6) img{
  max-width: 100%;
}

main section:nth-of-type(6) li{
  text-align: center;
  color: var(--color-text-white);
  margin-bottom: 0.5em;
  font-family: "HurmeHEMA-Bold";
  ;
}

main section:nth-of-type(6) ul::marker {
  content: '✓';
  font-size: 1.2em;
}

main section:nth-of-type(6) {
  position: relative;
}

main section:nth-of-type(6) article{
  background-color: var(--color-highlight);
  margin: 1em;
  position: absolute;
  top: 16.5em;
  border-radius: 0.75em;
}


main section:nth-of-type(6) a{
  text-decoration: none;
  font-family: "HuremaHEMA-Bold";
  text-align: center;
  color: var(--color-text-white);
  margin-bottom: 1em;
  padding: 1em;
}

main section:nth-of-type(6) a p{
  border: var(--color-background) 2px solid;
  border-radius: 0.5em;
  padding: 1.2em;
  margin: 1.7em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*main section 7*/

main section:nth-of-type(7) {
  margin-top: 25em;
  margin-left: 1em;
  margin-right: 1em;
}

main section:nth-of-type(7) {
  margin-top: 22em;
  margin-left: 1em;
}

main section:nth-of-type(7) a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.85em;
}

main section:nth-of-type(7) p {
  margin-top: 0.75em;
}

main section:nth-of-type(7) summary{
  font-family: "HurmeHEMA-SemiBold";
  margin-top: 2em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

  main section:nth-of-type(7) summary::after { /*https://www.sitepoint.com/style-html-details-element/*/
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px;
    background: url('../images/arrow.svg') no-repeat center center;
    background-size: contain;
    transition: 0.4s;
  }

  main section:nth-of-type(7) details[open] > summary::after {
    transform: rotate(180deg);
  }

  main section:nth-of-type(7) summary {
    position: relative;
  }

  main section:nth-of-type(7) details {
    border-bottom: 0.5px solid rgb(212, 212, 212);
    padding-bottom: 1.35em;
  }
s

/*footer*/

footer h3 {
  font-family: "HurmeHEMA-Bold";
}

/*footer section 1*/

footer section:first-of-type {
  background-color: var(--color-highlight);
  margin-top: 1.5em;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 1em;
}

footer section:first-of-type h2 {
  color: var(--color-text-white);
  padding-top: 1em;
  padding-bottom: 0.40em;
}

footer section:nth-of-type(1) h3 {
  color: var(--color-text-white);
  margin-top: 1em;
}

footer section:nth-of-type(1) input {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-size: 1em;
}

footer section:nth-of-type(1) li {
  list-style: disc;
  color: var(--color-text-white);
  text-decoration: underline;
  text-decoration-color: var(--color-text-white);
  margin-left: 1em;
  margin-bottom: 0.5em;
}

footer section:nth-of-type(1) li::marker {
  font-size: 10px;
}

footer section:first-of-type p{
  color: var(--color-background);
  text-decoration: none;
  background-color: var(--color-highlight);
}

footer section:first-of-type li a{
  text-decoration: none;
}

footer section:first-of-type p a {
  text-decoration-color: var(--color-text-white);
  color: white;
}

footer section:first-of-type input {
  width: 90vw;
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.75em;
  border: none;
  background-color: #ffffff;
  color: #767676;
  background-image: url('../images/search.svg');
  background-position: 55px;
  background-repeat: no-repeat;
  height: 4em;
}

footer section:first-of-type h3{
  padding-bottom: 0.75em;
  font-size: 1.5em;
}

footer section:nth-of-type(1) article {
  padding-bottom: 1.5em;
}

/*footer section 2*/

footer section:nth-of-type(2) {
  margin-top: 1.35em;
  margin-left: 1em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}

footer section:nth-of-type(2) h3{
  font-size: 1.35em;
  margin-bottom: 1em;
}

footer section:nth-of-type(2) a {
  text-align: center;
  padding: 1.25em;
  text-decoration: none;
  background-color: #00838C;
  color: var(--color-text-white);
  font-family: "HurmeHEMA-Bold";
  border-radius: 0.25em;
  margin-top: 1em;
}

footer section:nth-of-type(2) input {
  width: 90vw;
  padding: 1.2em;
  margin-top: 1em;
  border-radius: 0.75em;
  background-color: #ffffff;
  color: #767676;
  border: 1px solid;
  border-color: #bdbdbd;
  height: 4em;
  display: table-cell;
  font-size: 0.85em;
}

/*footer section 3*/

footer section:nth-of-type(3) {
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  margin-top: 1em;
}

footer section:nth-of-type(3) ul{
  display: flex;
  flex-direction: row;
}

footer section:nth-of-type(3) h3{
  font-size: 1.35em;
}

footer section:nth-of-type(3) a img{
  width: 1.75em;
  margin: 5px;
  margin-top: 1em;
}

/*footer section 4*/

footer section:nth-of-type(4) {
  padding-bottom: 1em;
  margin-left: 1em;
  margin-top: 1.25em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  margin-right: 1em;
}

footer section:nth-of-type(4) ul{
  display: flex;
  flex-direction: row;
}

footer section:nth-of-type(4) h3{
  font-size: 1.35em;
  margin-bottom: 0.75em;
}

footer section:nth-of-type(4) a img{
  width: 1.75em;
  margin: 5px;
}

footer section:nth-of-type(4) p{
  color: gray;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

/*footer section 5*/

footer section:nth-of-type(5) {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
}

footer section:nth-of-type(5) a {
  text-decoration: none;
  color: var(--color-footertext);
  margin-bottom: 0.75em;
}

footer section:nth-of-type(5) h3 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1.1em;
}

footer section:nth-of-type(5) p {
  font-size: 0.90em;
  margin-bottom: 0.75em;
}

footer section:nth-of-type(5) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/*footer section 6*/

footer section:nth-of-type(6) {
  margin-left: 1em;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}

footer section:nth-of-type(6) ul {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.50em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  padding-bottom: 1.5em;
  margin-right: 1em;
}

footer section:nth-of-type(6) ul li {
  display: flex; 
  gap: 0.5em; 
}

footer section:nth-of-type(6) a {
  text-decoration: none;
  color: var(--color-text);
}

footer section:nth-of-type(6) a p {
  font-family: "HurmeHEMA-SemiBold";
  font-size: 0.85em;
  padding-right: 1em;
  text-align: left;
  border-right: 0.5px solid rgb(212, 212, 212);
}

footer section:nth-of-type(6) img {
  width: 5em;
  padding-top: 1.75em;
}

/*footer section 7*/

footer section:nth-of-type(7) {
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-top: 0.5px solid rgb(212, 212, 212);
  padding-top: 1.5em;
}

footer section:nth-of-type(7) p {
  color: var(--color-footertext);
  font-size: 0.75em;
}

/*Tweede Pagina*/

.pagina2 header {
  margin-bottom: 2em;
}

/*Tweede Pagina main*/

.pagina2 main {
  margin-left: 1em;
  margin-right: 1em;
}

/*pijltje terug naar boxershorts*/

.pagina2 main a:first-of-type {
  text-decoration: none;
  color: gray;
  font-family: "HurmeHEMA-SemiBold";
  padding-top: 1em;
}

/*carousel onderbroek*/

.pagina2 main ul:first-of-type {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  gap: 1em;
}

.pagina2 main ul img{
  width: 80vw;
  border-radius: 0.5em;
}

/*h2 3 stuks*/

.pagina2 main h2 {
  font-size: 1em;
  border: 0.2px solid var(--color-borderbottom);
  padding: 0.5em;
  margin: 1em 0;
  width: 4.75em;
  border-radius: 0.25em;
}

/*h3 herenboxers lang*/

.pagina2 main h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
}

/*prijs en hartje*/

.pagina2 main h4 {
  font-family: "HurmeHEMA-Bold";
  font-size: 1.70em;
  margin-bottom: 1em; 
  position: relative;
}

.pagina2 main ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px var(--color-borderbottom);
}

.pagina2 main ul:nth-of-type(2) img {
  width: 2.75em;
  border-radius: 50%;
  border: 0.5px solid var(--color-borderbottom);
  padding: 0.5em;
  margin-bottom: 2em;
}

.pagina2 main h4 span {
  font-size: 0.5em;
  top: 0.2em;
  left: 2.2em;
  position: absolute;
}

/*h5 kleur en maat*/

.pagina2 main h5 {
  font-family: "HurmeHEMA-Bold";
  margin-top: 1.5em;
  font-size: 1em;
}

.pagina2 main h5:first-of-type {
  border-bottom: 0.5px solid var(--color-borderbottom);
  padding-bottom: 1.5em;
}

.pagina2 main h5:last-of-type {
  margin-bottom: 0.75em;
}

/*maten kiezer*/

.pagina2 main ul:nth-of-type(3) p{
  color: var(--color-text);
  font-size: 1em;
  font-family: "HurmeHEMA-SemiBold";
  padding: 0.75em;
  border: 0.5px solid var(--color-borderbottom);
  border-radius: 3.5em;
}

.pagina2 main ul:nth-of-type(3) li p.geselecteerd {
  border-radius: 1.5em;
  border: 2px solid var(--color-text);
}

.pagina2 main ul:nth-of-type(3) {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

.pagina2 main ul:nth-of-type(3) li {
  width: 4em;
  text-align: center;
}

.pagina2 > main p:last-of-type {
  color: green;
  font-family: "HurmeHEMA-SemiBold";
  margin-bottom: 1em;
}

/*sticky winkelmandje*/

.pagina2 #inWinkelmand {
  bottom: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  padding-top: 1em;
  border-top: solid 0.5px var(--color-borderbottom);
  padding-bottom: 0.75em;
  flex-direction: row;
  gap: 1em;
  align-items: baseline;
}

.pagina2 #inWinkelmand.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 85%;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: solid 0.5px var(--color-borderbottom);
  border-top: 0em;
}

.pagina2 #inWinkelmand button {
  background-color: #F8C011;
  border: none;
  color: black;
  font-family: "HurmeHEMA-Bold";
  border-radius: 0.5em;
  width: 26em;
  font-size: 1.1em;
  height: 3em;
  background-image: url("../images/winkelMandje.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: 30px;
}

.pagina2 #inWinkelmand ul {
  border: 0.5px solid var(--color-borderbottom);
  border-radius: 0.5em;
  padding: 1em;
  width: 1.5em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  font-family: "HurmeHEMA-SemiBold";
  height: 3em;
  background-image: url("../images/arrow.svg");
  background-position: 30px;
  background-repeat: no-repeat;
  background-size: 2em;
  scrollbar-width: none;
  margin-bottom: -1em;
}