/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
  --color-text-white: white;
	--color-background:#ffffff;
  --color-highlight: #9C1AFF;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
  margin: 0;
  padding: 0;
}

/*fonts*/

@font-face {
	font-family: "HurmeHEMA-Regular";
	src: url("../fonts/HurmeHEMA-Regular.woff2") format(woff2); 
}

@font-face {
  font-family: "HurmeHEMA-Bold";
  src: url("../fonts/HurmeHEMA-Bold.woff2") format(woff2);
}

/*algemene styling*/

p {
	font-family: "HurmeHEMA-Regular";
  text-decoration: none;
}

h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h2 {
  font-family: "HurmeHEMA-Bold";
}

h3 {
  font-family: "HuremaHEMA-Bold";
}

li {
  list-style: none;
}

/*header*/

header {
  margin: 1em;
}

/*nav header*/

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav img {
  width: 10vw;
}

/*main*/

/*nav main*/

main nav li img {
  border-radius: 50%;
  width: 25vw;
}

main nav ul{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
}

main nav a{
  text-align: center;
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*main section 1*/

.relative {
  position: relative;
}

.korting {
  position: absolute;
  width: 5em;
  top: 1em;
  left: 1em;
  
}

.hoofdaanbieding {
  width: 100vw;
  margin-bottom: 11em;
}

main section:first-of-type article{
  position: absolute;
  background-color: #499bc1;
  color: var(--color-text-white);
  top: 17.5em;
  left: 0.75em;
  right: 0.75em;
  border-radius: 5%;
}

main section:first-of-type article h2{
  margin-top: 1em;
  text-align: center;
  margin-bottom: 0.75em;
  margin-left: 1em;
  margin-right: 1em;
}

main section:first-of-type article p{
  text-align: center;
  margin-bottom: 2em;
  padding: 1em;
  color: var(--color-text-white);
  border: 2px solid;
  border-color: var(--color-background);
}

/*main section 2*/

main section:nth-of-type(2) {
  margin-left: 1em;
}

main section:nth-of-type(2) li img {
  width: 65vw;
  border-radius: 5%;
}

main section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
}

main section:nth-of-type(2) a{
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: "HuremaHEMA-Bold";
  text-align: left;
}

/*main section 3*/

main section:nth-of-type(3) {
  margin-left: 1em;
}

main section:nth-of-type(3) li img {
  width: 65vw;
  border-radius: 5%;
}

main section:nth-of-type(3) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
}

main section:nth-of-type(3) a{
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: "HuremaHEMA-Bold";
  text-align: left;
}

/*main section 4*/

main section:nth-of-type(4) {
  margin-left: 1em;
}

main section:nth-of-type(4) li img {
  width: 65vw;
  border-radius: 5%;
}

main section:nth-of-type(4) ul {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
}

main section:nth-of-type(4) a{
  text-decoration: none;
  color: #111;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: "HuremaHEMA-Bold";
  text-align: left;
}

/*footer*/

footer section:first-of-type {
  background-color: var(--color-highlight);
}

footer section:first-of-type p{
  color: var(--color-background);
  text-decoration: none;
}

footer section:nth-of-type(3) ul{
  display: flex;
  flex-direction: row;
}

footer section:nth-of-type(3) a img{
  width: 5vh;
  margin: 5px;
}

footer section:nth-of-type(4) ul{
  display: flex;
  flex-direction: row;
}

footer section:nth-of-type(4) a img{
  width: 5vh;
  margin: 5px;
}

footer section:nth-of-type(4) p{
  color: gray;
}

footer h3 {
  font-family: "HurmeHEMA-Bold";
}