/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: "HurmeHEMA-Regular";
	src: url("/fonts/HurmeHEMA-Regular.woff2") format(.woff2); 
}

p {
	font-family: "HurmeHEMA-Regular";
}